@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5D2D91;
}

@layer base {
  body {
    @apply text-gray-900 bg-white;
  }
}

@layer components {
  .text-primary {
    color: var(--primary);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .border-primary {
    border-color: var(--primary);
  }
}